.main {
    // height: 35vh;
    // width: 15vw;
    border: 0px solid gainsboro;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
}

.imagepart {
    cursor: pointer;
    margin: 12px;
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #E2E2E2;
}
.imagepart{
    cursor: pointer;
    margin: 12px;
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #E2E2E2;
}
.imagepart1{
    cursor: pointer;
    margin: 12px;
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #E2E2E2;
}
.container {
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 104px;
    // margin-bottom: 1324px;
    //    flex-flow: row wrap;
}

.bookimg {
    height: 100px;
    width: 80px;
}

.img {
    height: 60%;
    width: 100%;
    background: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    height: 30px;
    width: 160px;
    // background: red;
    font-size: medium;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.author {
    height: 10px;
    width: 160px;
    // background: red;
    font-size: 11px;
    display: flex;
    color: #878787;
    align-items: center;
    justify-content: flex-start;
}

.rating-container {
    display: flex;
    width: 160px;
    flex-direction: row;
    margin-top: 10px;

    .rating {
        width: 35px;
        height: 17px;
        flex-direction: row;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #388E3C;
        border-radius: 1px;
        padding: 2px;
        color: white;
    }

    .star {
        margin-top: 10px;
        margin-left: 1px;
        font-size: small;
        vertical-align: middle !important;
    }

    .no-of-people-rated {
        margin-top: 3px;
        margin-left: 10px;
        color: gray;
    }
}

.price-container {
    display: flex;
    width: 160px;

    .dicounted-price {
        margin-top: 10px;
        font-size: large;
        font-weight: 500;
    }

    .actual-price {
        margin-top: 10px;
        margin-left: 5px;
        text-decoration: line-through;
        color: gray;
    }
}
.pages{
    height: 10%;
    width: auto;
    display: flex;
    margin-left: 450px;
}