<div>
    <app-header></app-header>
</div>
<div class="maincont">
    <div (click)="todashboard()" class="main">
        <button class="home">Home /</button>
    </div>
    <div class="bookbutton">
        <button class="book">My cart</button>
    </div>
</div>
<div class="cart_container">
    <h3 class="heading">My cart
        ({{cartbook.length}})
    </h3>
    <div class="crt" *ngFor="let cart of cartbook">
        <div class="image">
            <img src="../../../assets/Image 11.png" alt="">
        </div>
        <div class="book-description">
            <h2>
                {{cart.product_id.bookName}}
            </h2>
            <p>by
                {{cart.product_id.author}}
            </p>
            <div class="price-container" fxLayout="row">
                <div class="dicounted-price">
                    <b>Rs.{{cart.product_id.discountPrice}}</b>
                </div>
                <div class="actual-price">
                    Rs. {{cart.product_id.price}}
                </div>
            </div>
            <div class="quantity">
                <button class="subtract" (click)=" decrement()" (click)="decreasebook(cart)">-</button>
                <span class="numder">{{cart.quantityToBuy}} {{cart.count}}</span>
                <button class="add" (click)=" increasebook(cart)" (click)="increment()" >+</button>
                <div class="btn">
                    <button mat-button  (click)="deleteItem(cart._id) ">
                        Remove
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="placeorder">
        <button class="place"  (click)="addressdetails()">PLACE ORDER</button>
    </div>
</div>
<form [formGroup]="createForm" (ngSubmit)="close()">
    <div class="address">
        <div class="login">
            <div class="first" *ngIf="address">
                <span style="font-size:medium;" class="det">Address Details</span>
            </div>
            <div *ngIf="!address" class="Abcd">
                <div class="Efgh">
                    <span style="font-size:18px;">Customer Details</span>
                    <span class="new">New Address</span>
                </div>
                <div class="ijkl">
                    <div class="second">
                        <div class="email">
                        <span >Full name</span></div>
                        <mat-form-field class="form1">
                            <input matInput class="field1" type="text" formControlName="fullname">
                            <mat-error class="error"> enter valid name</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="second">
                        <span class="password">mobile number</span>
                        <mat-form-field class="form1">
                            <input matInput class="field1" type="text" formControlName="mobilenumber">
                            <mat-error class="error"> enter valid number</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="third">
                    <span class="password"> Address </span>
                    <mat-form-field class="form1">
                        <input matInput class="field1" type="text" formControlName="fullAddress">
                        <mat-error class="error"> enter valid address</mat-error>
                    </mat-form-field>
                </div>
                <div class="mnop">
                <div class="fourth">
                    <span class="password"> state </span>
                    <mat-form-field class="form1">
                        <input matInput class="field1" type="text" formControlName="state">
                        <mat-error class="error"> enter valid state</mat-error>
                    </mat-form-field>
                </div>
                <div class="fourth">
                    <span class="password"> city/town </span>
                    <mat-form-field class="form1">
                        <input matInput class="field1" type="text" formControlName="city">
                        <mat-error class="error"> enter valid city</mat-error>
                    </mat-form-field>
                </div>
            </div>
                <div class="type">
                        <span>Type</span>
                    <div class="boxes">
                        <mat-radio-button value="Home">Home</mat-radio-button>
                        <mat-radio-button value="Work">Work</mat-radio-button>
                        <mat-radio-button value="Others">Others</mat-radio-button>
                    </div>
                </div>
                <div class="qrl">
                    <button class="k2" (click)="continuebutton()">Continue</button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="summary">
    <div class="head1" *ngIf="summary">
        <span style="font-size: medium;">Order Summary</span>
    </div>
    <div *ngIf="!summary" class="work">
        <div class="n1">
        <span> Order Summary</span></div>
        <div class="cart1" *ngFor="let cart of cartbook">
            <div class="image">
                <img src="../../../assets/Image 11.png" alt="">
            </div>
            <div class="book-description">
                <h2>
                    {{cart.product_id.bookName}}
                </h2>
                <p>by
                    {{cart.product_id.author}}
                </p>
                <div class="price-container" fxLayout="row">
                    <div class="dicounted-price">
                        <b>Rs.{{cart.product_id.discountPrice}}</b>
                    </div>
                    <div class="actual-price">
                        Rs.{{cart.product_id.price}}
                    </div>
                </div>
            </div>
        </div>
        <div class="xyz">
        <a class="order" (click)="placeOrder()" routerLink="/home/order">Checkout</a></div>
    </div>
</div>