<div class="top">
    <div class="header">
        <app-header></app-header>
    </div>
    <div class="content">
        <div class="bookname">
            <span class="sort">Books</span>
            <mat-form-field class="field" appearance="outline">
                <mat-label style="color: black; font-size: 12px;">sort by relevance</mat-label>
                <mat-select class="matselect">
                    <mat-option (click)="lowtohigh()" value="one">Price:Low to High</mat-option>
                    <mat-option (click)=" hightolow()" value="two">Price:High to Low</mat-option>
                    <mat-option (click)="newestarrivals()" value="third">Newest Arrivals</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="listbooks" >
            <app-getbook [childmessage]="booklist" ></app-getbook>
        </div>
    </div>
</div>