<div class="top">
<div class="header">
    <app-header></app-header>
</div>

    <div class="content">
        <div class="bookname">
            <span class="sort">Books</span>
            <mat-form-field class="field">
                <mat-label style="color: black; font-size: 12px;">sort by relevance</mat-label>
                <mat-select>
                    <mat-option *ngFor="let food of sortrelevance" [value]="food.value">{{food.viewValue}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="listbooks">
            <app-getbook [chilsmessage]="booklist"></app-getbook>
        </div>
    </div>
</div>