<mat-toolbar class="tool">
    <div class="main">
        <div class="book">
            <img class="imgbook" src="../../../assets/education.svg" alt="">
            <span class="store">Bookstore</span>
        </div>
        <mat-form-field class="form1">
            <div class="searchbar">
                <mat-icon matPrefix class="search1">search</mat-icon>
                <input type="text" class="search2" matInput>
            </div>
        </mat-form-field>
        <img class="person" src="../../../assets/person_FILL0_wght400_GRAD0_opsz48.svg" alt="">
        <span class="profile">Profile</span>
        <img class="cart" src="../../../assets/shopping_cart_FILL0_wght400_GRAD0_opsz48.svg" alt="" routerLink="/cart">
        <span class="textcart">Cart</span>
    </div>
</mat-toolbar>
