.main{
    height: 10vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.tool{
    background:#A03037;
    width: 1263px;
}
.store{
    color: white;
    font-weight: 400;
    position: relative;
    left: 140px;
}
.imgbook{
    position: relative;
    top: 5px;
    left: 130px;
}
.form1{
    border: 0px solid white;
    border: 0px;
   color: #A03037;

}
::ng-deep .mat-form-field-underline {
    display: none;
}
.searchbar{
    height: 30px;
    width: 500px;
    background: white;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    left: 180px;
    top: 5px;
}
.search1{
    border: 1px solid white;
    background: 0px;
    color:grey ;
}
.search2{
    border: 0px solid white;
    
}
.person{
    color:white;
    border: white;
    height: 25px;
    position: relative;
    left: 640px;
    bottom: 3px;
    width: 25px;
}
.profile{
    font-size: 10px;
    font-weight: 100;
    position: relative;
    left: 615px;
    top: 20px;
    color: white;
}
.cart{
    height: 25px;
    width: 25px;
    position: relative;
    left: 690px;
    color: white;
}
.textcart{
    font-size: 10px;
    font-weight: 100;
    position: relative;
    left: 670px;
    top: 21px;
    color: white;
}
.wishlist{
    height: 25px;
    width: 25px;
    position: relative;
    left: 595px;
    color: white;
    bottom: 2px;
}
.wish1{
    font-size: 10px;
    height: 20px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 100;
    color: white;
    border: 0px solid white;
    margin-left: 250px;
    margin-bottom: 13px;
}
.wish2{
    font-size: 10px;
    height: 20px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 100;
    color: white;
    border: 0px solid white;
    margin-bottom: 13px;
}
.wish3{
    font-size: 10px;
    height: 20px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 100;
    color: white;
    border: 0px solid white;
    margin-bottom: 13px;
}
.fav{
    margin-left: 500px;
}
.fav1{
    margin-right: 400px;
}
