<mat-toolbar class="tool">
    <div class="main">
        <div class="book">
            <img class="imgbook" src="../../../assets/education.svg" alt="">
            <span class="store">Bookstore</span>
        </div>
        <mat-form-field class="form1">
            <div class="searchbar">
                <mat-icon matPrefix class="search1">search</mat-icon>
                <input type="text" class="search2" matInput>
            </div>
        </mat-form-field>
        <!-- <img class="person" src="../../../assets/person_FILL0_wght400_GRAD0_opsz48.svg" alt="">
        <span class="profile">Profile</span> -->
        <!-- <img class="cart" src="../../../assets/shopping_cart_FILL0_wght400_GRAD0_opsz48.svg" alt="" >
        <span class="textcart">Cart</span> -->
        
        <div class="wish1">
            <mat-icon style="color:white ;" >person</mat-icon>
             <span> Profile </span>
        </div>
        <div class="wish2">
            <mat-icon style="color:white;"  (click)="towishlist()">favorite</mat-icon>
            <span> Wishlist </span>
        </div>
        <div  class="wish3">
            <mat-icon style="color:white ;"  (click)="tocart()">shopping_cart</mat-icon>
            <span> Cart </span>
        </div>
    </div>
</mat-toolbar>