<div>
    <app-header></app-header>
</div>
<div class="hurray">
    <img src="../../../assets/placeOrder.png" alt="">
    <div class="test">
        <p style="text-align: center;font: normal normal normal 18px/22px Lato;color: #333232;opacity: 1; ">
            hurray!!! your order is confirmed<br> the order id is #123456 save the order id for<br> further
            communication..
        </p>
    </div>
    <div class="table">
        <TABLE style="border: none; " BORDER="0 " WIDTH="100% " CELLPADDING="10 " CELLSPACING="0 ">
            <TR style="border: 1px solid #DCDCDC;background-color: gainsboro ">
                <TH COLSPAN="1 ">
                    <H3 style="text-align: center; ">Email</H3>
                </TH>
                <TH COLSPAN="1 ">
                    <H3 style="text-align: center; ">Contact us</H3>
                </TH>
                <TH COLSPAN="1 ">
                    <H3 style="text-align: center; ">Address</H3>
                </TH>

            </TR>
            <TR>
                <TH style="color: #333232;opacity: 0.71; "> admin@bookstore.com</TH>
                <TH style="color: #333232;opacity: 0.71; ">9876987567</TH>
                <TH style="text-align: start;color: #333232;opacity: 0.71; ">visakhapatnam andhra pradesh</TH>

            </TR>

        </TABLE>
    </div>

    <div class="cont">
        <button mat-flat-button class="continuebutton" color="primary" routerLink="/home/dashboard">
            Continue shopping</button>
    </div>