table,
th,
td {
    border: 1px solid black;
}

.src {
    width: 200px;
    height: 200px;
}

.continuebutton {
    background-color:#3371B5;
    color: white;
    border: none;
    margin-top: 40px;
    margin-left: 50px;
    width: 200px;
    height: 40px;
    text-align: center;
    justify-content: center;
}
.hurray{
    margin-left: 350px;
}
.test{
margin-right: 500px;
}
.table{
    width: 600px;
    display: flex;
   border: 0px solid red;
}
.cont{
margin-left: 100px;

}