<div class="header">
    <app-header ></app-header>
</div>
<div class="Container">
    <div class="main">
        <div class="header">
            <p type="button" (click)="todashboard()" style="color: #9D9D9D" >Home / </p>
            <p>My Wishlist</p>
        </div>
    </div>
    <div class="cart_container">
        <div>
        <h3 class="j1">My Wishlist({{wishlist.length}})</h3>
    </div>
        <div class="crt" *ngFor="let wish of wishlist">
            <div class="image">
                <img src="../../../assets/Image 11.png" alt="">
            </div>
            <div class="book-description">
                <h2>{{wish.product_id.bookName}}</h2>
                <p>by {{wish.product_id.author}} </p>
                <div class="price-container" fxLayout="row">
                    <div class="dicounted-price">
                        <b>Rs. {{wish.product_id.discountPrice}} </b>
                    </div>
                    <div class="actual-price">
                        Rs.  {{wish.product_id.price}}
                    </div>
                </div>
            </div>
            <div class="delete" (click)="deleteItem(wish.product_id._id)" >
                <img class="deletebutton" src="../../../assets/delete_FILL0_wght400_GRAD0_opsz48.svg" alt="">
               <!-- <mat-icon style="color:#9D9D9D ;">delete</mat-icon> -->
            </div>
        </div>
    </div>
</div>